# Node
node_modules/
dist/
release/
build/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.sqlite
*.sqlite3
*.db

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
